@import "./config.scss";
@import "./normalize.scss";

i[class^=icon] {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: $mainColor;
    background-repeat: no-repeat;

}